extends layout.pug

block scripts
  script(src='javascripts/codeRing.js')


block content
  #input_area
    textarea#message(rows='8', cols='85', autofocus='') rats live on no evil star
    br
    button#encode_button(type='button', onclick='SelectorEnc()') Encode
    button#Decode_button(type='button', onclick='SelectorDec()') Decode
    button#Send(type='button', onlick='') Send
  form
    select#select_area
      option(value='pharao') Pharao
      option(value='rot13') Rot13
      #output_area
    p
      #output
    div

  form(action='/login', method='get')
    input(type='submit', name='login') 
