include layout.pug

block content
a(href='/register') Register  
form(action='/login', method='POST')
  input(type='text', name='username')

  input(type='password', name='password')

  input(type='submit', name='login')
